body{
    margin: 0px;
    
}

rect {
    fill: #041e42;
}

.svg-box{
    margin: auto;
    margin-top: 15px;
    border: 5px solid #041e42;
}
text{
    font-size: 16px;
}

table tr td {
    border: 1px solid black;
   
}

th {
    border: black 1px solid;
}
#stats-table{
    border-collapse: collapse;
}

#percentage-ranking-toggle-button{
    opacity: 0;
}