body{
    margin: 0px;
    
}

rect {
    fill: steelblue
}

text{
    font-size: 16px;
}

table tr td {
    border: 1px solid black;
   
}

th {
    border: black 1px solid;
}
#stats-table{
    border-collapse: collapse;
}

#percentage-ranking-toggle-button{
    opacity: 0;
}