body{
    margin: 0px;
    
}

rect {
    fill: #041e42;
}

.svg-box{
    margin: auto;
    margin-top: 15px;
    border: 5px solid #041e42;
}
text{
    font-size: 16px;
}

table tr td {
  /*  border: 1px solid black; */
  border: 1px solid #041e42;
  padding: 2px 10px;
  padding: 2px 10px;
  text-align: center;
   
}

th {
   /* border: black 1px solid; */
   padding: 5px 10px;
}
#stats-table{
    border-collapse: collapse;
    margin: auto;
    margin-top: 25px;
}

.table-header-row {
    color: whitesmoke;
    background: gray;
    border-right: 1px solid gray;
}

#percentage-ranking-toggle-button{
    opacity: 0;
}