.Year-selector-btn-container{
position: relative;
display: block;

}

.year-selecter-btn{
    background-color:#041e42;
    color:#bb0d3e;
    padding: 12px;
    font-size: 40px;
    border: none;

}

.season-dropdown-content{
    display: none;
    position: absolute;
    background-color: #041e42;
    min-width: 158.83px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.Year-selector-btn-container:hover .season-dropdown-content{
    display: block;
}

.season-dropdown-content button{
    color:#bb0d3e;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: -webkit-fill-available;
    background-color:  #041e42;
    font-size:  20px;

}

.season-dropdown-content button:hover{
    background-color:#bb0d3e;
    color: ghostwhite;
}

